@import url('https://fonts.googleapis.com/css2?family=Poppin&family=Ubuntu:wght@300;700&isplay=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 4rem;
}
.left h1{
    color: #f53117;
    font-size: 2rem;
    cursor: pointer;
}
.checkBtn{
    display: none;
}
#check{
    display: none;
}
.checkBtn{
    z-index: 6;
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #f53117;
    line-height: 80px;
    position: relative;
}
.right ul{
    display: flex;
    list-style: none;
}
.right ul li a{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: all 1s;
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.right ul li a:hover{
    border-radius: 7px;
    background-color: #fff;
    color: rgb(22, 7, 36);
}
/*===================Home section code starts from here ===========*/
#home{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(235 232 229);
}

